.Main {
  position: relative;
  background-color: rgb(25, 25, 25);
  padding: 5px;
  overflow-y: scroll;
}

.Main::-webkit-scrollbar {
  width: 10px;
}

.Main::-webkit-scrollbar-track {
  background-color: #111111;
  border-radius: 100px;
}

.Main::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: #aaaaaa;
}