.Main {
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  overflow-y: scroll;
  padding: 35px;
}

.Main::-webkit-scrollbar {
  width: 10px;
}

.Main::-webkit-scrollbar-track {
  background-color: #111111;
  border-radius: 100px;
}

.Main::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: #aaaaaa;
}

/* .IDE {
  display: grid;
  grid-template-columns: 49% 49%;
} */

/* .IDE .workspace { }
.IDE .preview { } */


.react-tabs__tab {
  background: grey;
  border-radius: 5px 5px 0 0;
}