.Main {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-around; */
  /* align-items: flex-start; */
  background-color: rgb(25, 25, 25);
  padding: 5px;
  overflow-y: scroll;
}

.Main::-webkit-scrollbar {
  width: 10px;
}

.Main::-webkit-scrollbar-track {
  background-color: #111111;
  border-radius: 100px;
}

.Main::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: #aaaaaa;
}

.IDE {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  min-width: 100px;
  min-height: 300px;
  height: calc(100vh - 250px)
}

.IDE .preview {
  background-color: white;
  /* max-width: 400px; */
  /* aspect-ratio: 16 / 9; */
  /* aspect-ratio: 4 / 3; */
}

.IDE .preview iframe {
  border: none;
}

.IDE .EditorInstance {
  min-width: 100px;
  min-height: 300px;
  height: calc(100vh - 250px)
}

/* .IDE .workspace { }
.IDE .preview { } */


.react-tabs__tab {
  background: grey;
  border-radius: 5px 5px 0 0;
}