.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #eeeeee;
  background-color: rgb(15, 15, 15);
  font-size: 22px;
}

.Header .Logo {
  height: 80px;
  min-width: 248px;
  padding: 0 25px;
  line-height: 80px;
}

.Header .Logo > a {
  background: -webkit-linear-gradient(135deg, var(--primary-account-color), var(--secondary-account-color));
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Header .Account {
  height: 80px;
  min-width: 248px;
  padding: 0 25px;
  line-height: 80px;
  cursor: pointer;
}

.Header .Account.connected {
  cursor: default;
}

.Header .Account:hover {
  color:#aaaaaa;
}

.Header .Account .Address {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.Header .Account .Address .Avatar {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background: linear-gradient(135deg, var(--primary-account-color), var(--secondary-account-color));
  margin-left: 10px;
}

.Header nav {
  position: absolute;
  top: 80px;
  background-color: rgb(15, 15, 15);
  min-width: 248px;
  padding: 10px 25px 25px;
  margin: 0 -25px;
  line-height: normal;
  z-index: 99;
}

.Header nav a {
  display: block;
  margin: 5px 0;
}

.Header .Logo #mainMenu {
  display: none;
}

.Header .Logo:hover #mainMenu {
  display: block;
  animation: growDown 300ms ease-in-out;
  transform-origin: top center;
}

.Header .Account #accountMenu {
  display: none;
}

.Header .Account:hover #accountMenu {
  display: block;
  animation: growDown 300ms ease-in-out;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
      transform: scaleY(0);
  }
  50% {
      transform: scaleY(0.5);
  }
  100% {
      transform: scaleY(1);
  }
}