.CollectionPrivate {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "loader loader"
    "filter tokens";
}

.CollectionPrivate .loader {
  grid-area: loader;
}

.CollectionPrivate .Filter {
  grid-area: filter;
  width: 215px;
  height: 900px;
}

.CollectionPrivate .List {
  grid-area: tokens;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.CollectionPrivate .List .Item {
  background: #111;
  border: 1px solid var(--primary-account-color);
  border-radius: 50px;
  height: 420px;
  width: 340px;
  cursor: pointer;
}

.CollectionPrivate .List .Item:hover {
  border-color: var(--secondary-account-color);
}

.CollectionPrivate .List .Item .Image {
  background: black;
  border-radius: 50px;
  width: 290px;
  height: 290px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items :center;
}

.CollectionPrivate .List .Item:hover .Image {
  padding: 15px;
  width: 310px;
  height: 310px;
}

.CollectionPrivate .List .Item .Image img {
  display: block;
  max-height: 290px;
  max-width: 290px;
  margin: auto;
}

.CollectionPrivate .List .Item:hover .Image img {
  max-height: 310px;
  max-width: 310px;
}

.CollectionPrivate .List .Item p {
  margin: 20px 25px;
}