.Drafts {
  display: grid;
  grid-template-areas: "loader loader loader loader";
  grid-template-columns: repeat(4, 200px);
  justify-content: space-evenly;
  gap: 25px;
  padding: 25px;
}

.Drafts .loader {
  grid-area: loader;
}

.Drafts h1 {
  font-size: 42px;
}

.Drafts .Draft {
  height: 200px;
  background: rgb(40, 40, 40);
  border: 1px solid var(--primary-account-color);
  border-radius: 15px;
  text-align: center;
  cursor:pointer;
}

.Drafts .Draft img{
  max-height: 150px;
  padding-top: 10px;
}

.Drafts .Draft p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 120px;
  margin: auto;
}

.Drafts .Draft:hover {
  border: 1px solid var(--secondary-account-color);
  background: rgb(55, 55, 55);
  color: #aaaaaa;
}