.IDE {
  display: grid;
  grid-template-areas:
    "toolbox toolbox"
    "workspace preview";
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto 1fr;
  min-width: 100px;
  min-height: 300px;
  /* height: calc(100vh - 250px); */
  /* height: 500px; */
  gap: 5px;
}

.IDE .toolbox {
  grid-area: toolbox;
  min-height: 30px;
}

.IDE .workspace {
  grid-area: workspace;
}

.IDE .workspace .fileTree p{
  width: 75px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
  margin: 0;
  border: 1px solid #333;
  background-color: #333;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.IDE .workspace .fileTree p:hover{
  border-color: #444;
  background-color: #444;
  color: #aaaaaa;
}
.IDE .workspace .fileTree p.selected{
  border-color: #555;
  background-color: #555;
  color: #aaaaaa;
}

.IDE .workspace .EditorInstance {
  min-width: 100px;
  height: 400px;
}

.IDE .Preview {
  grid-area: preview;
  aspect-ratio: 16 / 9;
}

.IDE .Preview .Window {
  background-color: white;
  width: 390px;
  height: 270px;
  border: none;
}

.IDE .Preview .Console {
  background: #242424;
  width: 390px;
  height: 125px;
  overflow-y: scroll;
}

.IDE .Preview .Console::-webkit-scrollbar {
  width: 10px;
}
.IDE .Preview .Console::-webkit-scrollbar-track {
  border-left: 1px solid #2b2b2b;
}
.IDE .Preview .Console::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
}
.IDE .Preview .Console:hover::-webkit-scrollbar-thumb {
  background-color: rgba(121, 121, 121, .4);
}