.Home {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.Home .Latest {
  border: 1px solid var(--primary-account-color);
  border-radius: 25px;
  padding: 20px;
}

.Home .Latest .Tokens {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Home .Latest .Tokens .Item {
  border: 1px solid var(--secondary-account-color);
  border-radius: 25px;
  width: 250px;
  padding: 20px;
}