.Publisher {
  display: grid;
  grid-template-areas:
    "loader loader"
    "header header"
    "image animation"
    "metadata metadata"
    "actions actions";
  padding: 0 25px;
  gap: 25px;
}

.Publisher .loader {
  grid-area: loader;
}

.Publisher .Header {
  grid-area: header;
  background: transparent;
  margin-bottom: -40px;
}

.Publisher .Metadata {
  grid-area: metadata;
}

.Publisher .Image {
  grid-area: image;
}

.Publisher .Animation {
  grid-area: animation;
}

.Publisher .Actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.Publisher h2{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Publisher .Metadata h2 {
  max-width: 800px;
}

.Publisher .Image h2,
.Publisher .Animation h2 {
  max-width: 400px;
}

.Publisher h2 a{
  font-size: 14px;
}

.Publisher .Metadata code {
  display: block;
  padding: 20px;
  background: #1e1e1e;
  max-width: 900px;
  overflow-x: auto;
}

.Publisher .Metadata code::-webkit-scrollbar {
  height: 10px;
}

.Publisher .Metadata code::-webkit-scrollbar-track {
  background-color: #111111;
  border-radius: 100px;
}

.Publisher .Metadata code::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: #aaaaaa;
}

.Publisher button {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid var(--primary-account-color);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
}

.Publisher button:hover {
  border-color: var(--secondary-account-color);
  color: #aaaaaa;
}