.Templates {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-evenly;
  gap: 25px;
  padding: 25px;
}

.Templates h1 {
  font-size: 42px;
}

.Templates .Template {
  height: 200px;
  background: rgb(40, 40, 40);
  border: 1px solid var(--primary-account-color);
  border-radius: 15px;
  text-align: center;
  cursor:pointer
}

.Templates .Template:hover {
  border: 1px solid var(--secondary-account-color);
  background: rgb(55, 55, 55);
  color: #aaaaaa;
}

.Templates .Template.disabled {
  background: rgb(20, 20, 20);
  border: 1px solid var(--primary-account-color);
  cursor: not-allowed;
  color: white;
}

.Templates .Template .Logo {
  width: 150px;
  height: 100px;
  padding: 30px 25px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items :center;
}

.Templates .Template .Logo img {
  display: block;
  max-height: 120px;
  max-width: 150px;
  margin: auto;
}