html {
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 0;
}

a { color: #eeeeee;
  text-decoration: none;
}

a:hover {
  color: #aaaaaa;
}

.App {
  display: grid;
  grid-template-rows: 80px calc(100vh - 140px) 60px;
  max-height: 100vh;
  min-width: 1000px;
  max-width: 80vw;
  margin: 0 auto;
}

:root {
  --primary-account-color: #111111;
  --secondary-account-color: #aaaaaa;
}