:root {
  --primary-account-color: #111111;
  --secondary-account-color: #aaaaaa;
}

a {
  color: #eeeeee;
  text-decoration: none;
}

a:hover {
  color: #aaaaaa;
}

.App {
  display: grid;
  grid-template-rows: 80px calc(100vh - 140px) 60px;
  max-height: 100vh;
  min-width: 1000px;
  max-width: 80vw;
  width: 1000px;
  margin: 0 auto;
}

.Overlay {
  position: absolute;
  width: 1000px;
  height: calc(100vh - 140px);
  background: rgba(0, 0, 0, 0.95);
  top: 80px;
  padding: -5px;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
}