html {
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 0;
}

a { color: #eeeeee;
  text-decoration: none;
}
a:hover {
  color: #aaaaaa;
}

.App {
  margin: 0 auto;

  max-height: 100vh;

  min-width: 1000px;
  max-width: 80vw;

  display: grid;
  grid-template-rows: minmax(10vh, 1fr) minmax(80vh, 10fr) minmax(10vh, 1fr);
}